<div class="container">
  <div class="topicos">
    <div>
      <ul class="topicos-footer">
        <h6>
          <i class="fas fa-map-marker-alt"></i>
          Endereço
        </h6>
        <li>Avenida Nossa Senhora de Sabará, 1077</li>
        <li>Vila Sofia</li>
        <li>São Paulo - SP</li>
        <li>Referência: Fica dentro do box de Crossfit 1077</li>
      </ul>
    </div>
    <div>
      <ul class="topicos-footer">
        <h6>Informações de contato</h6>
        <li>
          <i class="fas fa-phone-square-alt"></i>
          Ligar (11) 95423-0818
        </li>
        <li>
          <i class="fas fa-envelope"></i>
          fisiofrancielevenske@gmail.com
        </li>

      </ul>
    </div>
    <div>
      <ul class="topicos-footer">
        <h6>
          <i class="fas fa-info-circle"></i>
          Sobre
        </h6>
        <li>Microfisioterapia</li>
        <li>Osteopatia (EOM 2017-2022)</li>
        <li>Barras de Access</li>
      </ul>
    </div>
  </div>
  <footer class="rodape">
    <p class="text-center">
      © Todos os Direitos reservados a
      <b>Fisioterapia Venske</b>
    </p>
  </footer>
</div>
<!--
Avenida Nossa Senhora de Sabará, 1077 - Vila Sofia (fica dentro do box de Crossfit 1077).
Telefone para contato: (11)95423-0818 (ATUALIZAR NO SITE) -->
