.container {
  background-color: #03737e;
}

.topicos{
display: grid;
border-top: 1px solid #014046;
border-bottom: 1px solid #014046;
grid-template-columns: 1fr 1fr 1fr;
padding: 20px 100px 20px 100px;
text-align: center;
}

.topicos h6 {
  color: rgba(255, 255, 255, 0.438);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;

}
.topicos li {
  list-style: none;
  line-height: 3;
  color: #fff;
}


.rodape {
  background: #ddd;
  display: flex;
  flex-direction: column;

}
.rodape p{
  text-align: center;
  justify-items: center;
}
