/* Header */
.menu-header a{
  margin-right: 8px;
  cursor: pointer;
  font-family: arial;
  color:rgba(95, 119, 139);
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0.1em 0.1em 0.05em rgb(181, 182, 184, 0.5);

}

.menu-header a.active{
  font-weight: bold;
  color: #03adbd;
}

.menu-header a:hover{
  color: #43d9e7;
}


.container-header{
  display: flex;
  flex-direction: row;
  /* alinhamento vertical */
  align-items: center;
  /* alinhamento horizontal */
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  min-height: 100%;
}

.container-header img{
  width: 300px;
}

.container{
  height: 100%;
  padding-bottom: 30px;
}

/* Main - About */

.container-main{
  background-color: #43d9e7;
  min-height: 100%;
  border-top: 1px solid #014046;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 10px 40px 10px;
}

.presentation{
  background: rgba(3,115,126,0.5);
  box-shadow: 2px 2px 2px rgb(1, 75, 82, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  height: 90vh;
  width: 90vw;

}

.presentation .photo img{
  border: 1px solid #03737e;
  box-shadow:3px 4px 25px 0px rgba(184,175,184,1);
  margin: 40px;
  border-radius: 100%;
  width: 300px;
}

.content .card-promotion img{
  border-radius: 50px;
  width: 400px;
}

.text{
  margin-top: 20px;
  padding: 40px 70px 40px 70px;

}
.text p{
  font: 200;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0,0,0,0.5);
  text-align: justify;
}

/* Services */

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 40px 10px;
}

.treatments{
  background: rgba(3,115,126,0.5);
  box-shadow: 3px 3px 3px rgb(1, 75, 82, 0.5);
  border-radius: 8px;
  margin-bottom: 40px;
  height: 85vh;
  width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.menu{
  margin-top: 40px;
  /* margin-right: 44px; */
  cursor: pointer;
  font-family: arial;
  color: rgb(167 176 177);
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0.1em 0.1em 0.05em rgb(0 0 0 / 50%);
}

.menu a{
  margin-right: 20px;
}

.menu a.active{
  font-weight: bold;
  color: #ffffff;
}

.menu a:hover{
  color: #feffff;
}

.cardTreatments{
  text-align: center;
}

.cardTreatments p{
  text-align: justify;
  padding: 25px;
  font: 300;
  font-size: 20px;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
}

.cardTreatments img{
  max-width: 30vw;
  opacity: 75%;
  border-radius: 25px 8px 25px 8px;
}

.microfisioterapia img{
  height: 40vh;
}


/* Main - Contato */
.contact{
  background-color: #43d9e7;
  border-top: 1px solid #014046;
  min-height: 100%;
}

.content-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 10px 40px 10px;
}

.info{
  background: rgba(3,115,126,0.5);
  box-shadow: 4px 4px 4px rgba(3,115,126,0.7);;
  border-radius: 8px;
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  align-items: center;
}

.links a img{
  width: 30px;
  margin-right: 5px;
  margin-top: 20px;
}

.map img{
  margin-top: 20px;
  border-radius: 4px;
  width: 600px;
}

.contact-info{
  margin-top: 20px;
  text-align: start;
}

.contact-topics{
  text-align: start;

}

.contact-topics h6{
  font-size: 24px;
  color: #fff;
}

.contact-topics li{
  font-size: 20px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.801);
}


/* Carousel */

.box-movie{
  height:100%;
  width: 100%;
  display: block;
}

.carousel{
  padding: 10px;
  background: rgba(3,115,126, 0.10);
  margin-bottom: 4px;
  border-bottom: 10px;
}

.carousel .slide img{
  box-shadow:-11px 1px 38px -1px rgb(0 0 0 / 50%);

}

/* FOOTER */

.container-footer{
  position:absolute;
  bottom: -25px;
  width:100%;
}

.rodape {
  background: #03737e;
  display: flex;
  flex-direction: column;

}
.rodape p{
  text-align: center;
  justify-items: center;

  color: #fff;
  text-transform: uppercase;
}



/* RESPONSIVIDADE */

@media (min-height:880px){
  .info{
    height: 76.8vh;
  }

  .presentation{
    height: 70vh;
    width: 70vw;
  }

  .text p{
    font-size: 20px;
  }
  .info{
    width: 40vw;
    display: flex;
    flex-direction: column;
  }

  .map img{
    margin-top: 50px;
    border-radius: 4px;
    width: 700px;
  }

  .treatments{
    height: 70vh;
    width: 50vw;
  }
}

@media (max-width:780px) {

  .menu a{
    margin-right: 8px;
    font-size: 12px;
    cursor: pointer;
    font-family: arial;
    color:rgba(95, 119, 139);
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0.1em 0.1em 0.05em rgb(181, 182, 184, 0.5);

  }

  .container-main{
    height: 70%;
  }

  .container-header{
    display: flex;
    flex-direction: column;
    /* alinhamento vertical */
    align-items: center;
    width: 100%;
  }

  .container-main .presentation{
    display: flex;
    flex-direction: column;
    height: 95vh;
  }


  .container-main .presentation img{
    margin-top: 20px;
    width: 100px;
    margin-bottom: 10px;
  }

  .container-main .card-promotion img{
    width: 200px;
    margin-bottom: 5px;
  }

  .container-main .text{
    padding: 0px 20px 0px 20px;
  }

  .container-main p{
    margin-top: 0px;
    padding: 0px;
    font-size: 11px;
    font-weight: normal;

  }

  .container-footer{
    position:absolute;
    bottom:0px;
    width:100%;
  }

  .content-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px 40px 10px;
  }

  .info{
    background: rgba(3,115,126,0.5);
    box-shadow: 4px 4px 4px rgba(3,115,126,0.7);;
    border-radius: 8px;
    height: 70vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px;
    align-items: center;
  }

  .links a img{
    width: 30px;
    margin-right: 5px;
    margin-bottom: 20px;
  }

  .map img{
    margin-top: 20px;
    border-radius: 4px;
    width: 80vw;
  }


  .treatments{
    height: 80vh;
    width: 90vw;
    align-items: center;
    text-align: center;

  }

  .menu p{
    font-size: 15px;
  }

  .cardTreatments p{
    font-size: 14px;
    font-weight: normal;
  }

  .contact-info{
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .contact-topics{
    text-align: start;

  }

  .contact-topics h6{
    font-size: 20px;
    color: #fff;
  }

  .contact-topics li{
    font-size: 16px;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.801);
  }

  .container-footer{
    position: absolute;
    bottom: -5px;
    width: 100%;
  }

  .cardTreatments img{
    max-width: 60vw;
    opacity: 75%;
    border-radius: 25px 8px 25px 8px;
  }

  .microfisioterapia img{
    height: 20vh;
    width: 40vw;
  }

  .rodape {
    background: #03737e;
    display: flex;
    flex-direction: column;

  }
  .rodape p{
    text-align: center;
    justify-items: center;
    font-size: 8px;
    color: #fff;
    text-transform: uppercase;
  }

}

