<nav class="navbar navbar-dark bg-primary">
  <div class="container-header">
    <img src="assets/images/logo.webp" alt="" srcset="" />
    <div class="nav navbar-nav menu-header">
      <a
        class="nav-item nav-link"
        [class.active]="aba == 'home'"
        (click)="aba = 'home'"
        >Sobre</a
      >
      <a
        class="nav-item nav-link"
        [class.active]="aba == 'services'"
        (click)="aba = 'services'"
        >Tratamentos</a
      >
      <a
        class="nav-item nav-link"
        [class.active]="aba == 'contact'"
        (click)="aba = 'contact'"
        >Contato</a
      >
    </div>
  </div>
</nav>

<!-- MAIN -->
<div class="container" [ngSwitch]="aba">
  <!-- ABOUT -->
  <div class="container-main" *ngSwitchDefault="'home'">
    <div class="wrapper-content">
      <div class="movie">
        <div class="content">
          <div class="presentation">
            <div class="photo">
              <img src="assets/images/fotoPerfil.webp" alt="" />
            </div>
            <div class="text">
              <p style="font-size: 25px">Oi!</p>
              <p>
                Me chamo Franciele Venske e sou fisioterapeuta. Minha escolha
                por essa profissão aconteceu durante a minha adolescência, onde
                vi nessa carreira a possibilidade de ajudar as pessoas a terem
                uma vida sem dor.
              </p>
              <p>
                Enquanto dava aulas de pilates fiz minha pós graduação em
                Terapia Manual e Postural pela Universidade de Maringá, em 2010,
                me mudei para São Paulo em 2012 e foi aqui que fiz minha
                Formação Internacional em Microfisioterapia pelo Instituto
                Salgado, em 2015.
              </p>
              <p>
                Desde então atuo com a técnica e a cada dia me maravilho mais
                com os seus resultados. Em 2017 comecei minha Pós graduação
                Internacional em Osteopatia pela Escuela de Osteopatia de
                Madrid, com previsão de término para junho de 2022, mas já
                atendo com a técnica desde o início dos estudos. Desde 2005,
                quando passei no vestibular, até hoje, busco sempre atualizações
                e conhecimentos para ajudar meus pacientes a terem mais
                qualidade de vida e viverem livres de dores e limitações, sejam
                elas físicas e/ou emocionais.
              </p>
            </div>
          </div>
          <div class="card-promotion">
            <img src="assets/images/cartao_vip.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SERVICES -->
  <div class="services" *ngSwitchCase="'services'">
    <div class="treatments" [ngSwitch]="roll">
      <nav class="navbar navbar-dark bg-primary">
        <div class="menu">
          <a
            class="nav-item nav-link"
            [class.active]="roll == 'image'"
            (click)="roll = 'image'"
            >Osteopatia</a
          >
          <a
            class="nav-item nav-link"
            [class.active]="roll == 'microfisio'"
            (click)="roll = 'microfisio'"
            >Microfisioterapia</a
          >
          <a
            class="nav-item nav-link"
            [class.active]="roll == 'accessBar'"
            (click)="roll = 'accessBar'"
            >Barras de Access</a
          >
        </div>
      </nav>

      <div class="cardTreatments">
        <div class="osteopatia" *ngSwitchDefault="'image'">
          <p>
            É um método que age como meio de diagnóstico e tratamento utilizando
            recursos manuais para uma abordagem terapêutica do corpo e suas
            dores. O tratamento através da osteopatia permite o reequilíbrio das
            funções do organismo e do funcionamento do corpo.
          </p>
          <img
            src="assets/images/osteopatia.jpeg"
            alt=""
          />
        </div>

        <div class="microfisioterapia" *ngSwitchCase="'microfisio'">
          <p>
            Técnica francesa de terapia manual onde através de toques suaves e
            em locais específicos do corpo do paciente acessa determinados mapas
            corporais com o objetivo de identificar a causa primária de uma
            doença ou disfunção para que o equilíbrio corporal possa ser
            restabelecido e então se faça a manutenção da saúde.
          </p>
          <img
          src="assets/images/microfisioterapia.jpeg"
          alt=""
        />
        </div>

        <div class="barrasAccess" *ngSwitchCase="'accessBar'">
          <p>
            É uma terapia corporal que permite que você e o seu corpo comecem a
            desprender-se dos pensamentos, ideias, condicionamentos, emoções,
            atitudes e crenças limitantes que você tenha registrado sobre
            quaisquer situação ou experiencia.
          </p>
          <img
          src="assets/images/accessBar.jpeg"
          alt=""
        />
        </div>
      </div>
    </div>
  </div>

  <!-- CONTACT SCREEN -->
  <div class="contact" *ngSwitchCase="'contact'">
    <div class="content-contact">
      <div class="info">
        <div class="map">
          <a href="https://goo.gl/maps/jamXXcoikAJ32yD7A" target="_blank">
            <img src="assets/images/mapagoogle.png" />
          </a>
        </div>

        <div class="contact-info">
          <div>
            <ul class="contact-topics">
              <h6>
                <i class="fas fa-info-circle"></i>
                Informações de contato
              </h6>
              <li>
                <i class="fas fa-phone-square-alt"></i>
                Ligar +55 (11) 95457-6809
              </li>
              <li>
                <address>
                  <a href="mailto:fisiofrancielevenske@gmail.com"
                    ><font color="white"
                      ><i class="fas fa-envelope"></i>
                      fisiofrancielevenske@gmail.com</font
                    ></a
                  >
                </address>
              </li>
            </ul>
          </div>
        </div>

        <div class="links">
          <a
            href="https://www.instagram.com/fisio.franvenske/?igshid=1aijk5phb9uyt"
            target="_blank"
          >
            <img src="assets/images/insta.png" />
          </a>
          <a
            href="https://www.facebook.com/fisio.francielevenske/"
            target="_blank"
          >
            <img src="assets/images/facebook-icon.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="carousel">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let image of images">
      <div class="slide" class="box-movie">
        <img src="{{ image }}" alt="" />
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
<!-- Footer -->

<div class="container-footer">
  <footer class="rodape">
    <p class="text-center">
      Avenida Nossa Senhora de Sabará n° 1077 | Vila Sofia | São Paulo - SP |
      CEP 4685-002
    </p>
  </footer>
</div>
