<!-- Header -->

<div class="container-header">
  <img src="assets/images/logo.jpeg" alt="" srcset="">
  <div class="links">
    <a href="https://www.instagram.com/fisio.franvenske/?igshid=1aijk5phb9uyt" target="_blank">
      <img src="assets/images/instagram-icon.jpeg"/>
    </a>
    <a href="https://www.facebook.com/fisio.francielevenske/" target="_blank">
      <img src="assets/images/facebook-icon.png"/>
    </a>
  </div>
</div>

<!-- Main -->

<div class="container-main">
  <div class="wrapper-content">
    <div class="movie">
      <div class="content">
        <div class="presentation">
          <div class="photo">
            <img src="assets/images/fotoPerfil.jpeg" alt="">
          </div>
          <div class="text">
            <p style="font-size: 25px;">Oi!</p>
            <p>Me chamo Franciele Venske e sou fisioterapeuta. Minha escolha
              por essa profissão aconteceu durante a minha adolescência, onde vi
              nessa carreira a possibilidade de ajudar as pessoas a terem uma vida
              sem dor.</p>
            <p>Enquanto dava aulas de pilates fiz minha pós graduação em
              Terapia Manual e Postural pela Universidade de Maringá, em 2010, me
              mudei para São Paulo em 2012 e foi aqui que fiz minha Formação
              Internacional em Microfisioterapia pelo Instituto Salgado, em 2015.</p>
            <p>Desde então atuo com a técnica e a cada dia me maravilho mais com os
              seus resultados. Em 2017 comecei minha Pós graduação Internacional
              em Osteopatia pela Escuela de Osteopatia de Madrid, com previsão de
              término para junho de 2022, mas já atendo com a técnica desde o
              início dos estudos. Desde 2005, quando passei no vestibular, até
              hoje, busco sempre atualizações e conhecimentos para ajudar meus
              pacientes a terem mais qualidade de vida e viverem livres de dores e
              limitações, sejam elas físicas e/ou emocionais.</p>
          </div>
        </div>
        <div class="card-promotion">
          <img src="assets/images/cartao_vip.jpeg" alt="" />
        </div>

      </div>
    </div>
  </div>

  <div class="carousel">

    <owl-carousel-o class="" [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide">
          <img class="box-movie" src="assets/images/chegaDeDor.jpeg" alt="img 1">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img class="box-movie" src="assets/images/alimentacao.jpeg" alt="img 3">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img class="box-movie" src="assets/images/atividadeFisica.jpeg" alt="img 4">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img class="box-movie" src="assets/images/valvulaEscape.jpeg" alt="img 5">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img class="box-movie" src="assets/images/Sono.jpeg" alt="img 6">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img class="box-movie" src="assets/images/oqVcAcha.jpeg" alt="img 6">
        </div>
      </ng-template>

    </owl-carousel-o>

  </div>

</div>

<!-- Footer -->

<div class="container-footer">
  <div class="topicos">
    <div>
      <ul class="topicos-footer">
        <h6>
          <i class="fas fa-map-marker-alt"></i>
          Endereço
        </h6>
        <li>Avenida Nossa Senhora de Sabará, 1077</li>
        <li>Vila Sofia</li>
        <li>São Paulo - SP</li>
        <li>Referência: Fica dentro do box de Crossfit 1077</li>
      </ul>
    </div>
    <div>
      <ul class="topicos-footer">
        <h6>Informações de contato</h6>
        <li>
          <i class="fas fa-phone-square-alt"></i>
          Ligar (11) 95423-0818
        </li>
        <li>
          <i class="fas fa-envelope"></i>
          fisiofrancielevenske@gmail.com
        </li>

      </ul>
    </div>
    <div>
      <ul class="topicos-footer">
        <h6>
          <i class="fas fa-info-circle"></i>
          Sobre
        </h6>
        <li>Microfisioterapia</li>
        <li>Osteopatia (EOM 2017-2022)</li>
        <li>Barras de Access</li>
      </ul>
    </div>
  </div>
  <footer class="rodape">
    <p class="text-center">
      © Todos os Direitos reservados a
      <b>Fisioterapia Venske</b>
    </p>
  </footer>
</div>
