<div class="container">
  <div class="wrapper-content">
    <div class="movie">

      <video width="500" controls="controls">
        <source src="../../../assets/videos/fisioterapiaParte1.mp4" type="video/mp4" />
      </video>

      <div class="text">
        <p>Oi. Me chamo Franciele Venske e sou fisioterapeuta.
          Minha escolha por essa profissão aconteceu durante a minha adolescência, onde vi nessa carreira a possibilidade de ajudar as pessoas a terem uma vida sem dor.
          Me formei na Universidade Estadual do Centro Oeste - Guarapuava - Paraná em 2008. Em seguida, fiz minha especialização em Pilates pela Escola Metacorpus, no ano de 2009. Atuei como instrutora de pilates por 8 anos e tenho lembranças ótimas daquela época. Enquanto dava aulas de pilates fiz minha pós graduação em Terapia Manual e Postural pela Universidade de Maringá, em 2010.
          Me mudei para São Paulo em 2012 e foi aqui que fiz minha Formação Internacional em Microfisioterapia pelo Instituto Salgado, em 2015. Desde então atuo com a técnica e a cada dia me maravilho mais com os seus resultados. Em 2017 comecei minha Pós graduação Internacional em Osteopatia pela Escuela de Osteopatia de Madrid, com previsão de término para junho de 2022, mas já atendo com a técnica desde o início dos estudos.
          Desde 2005, quando passei no vestibular, até hoje, busco sempre atualizações e conhecimentos para ajudar meus pacientes a terem mais qualidade de vida e viverem livres de dores e limitações, sejam elas físicas e/ou emocionais.</p>
      </div>

    </div>
  </div>
</div>
