.container{
  background-color: #43d9e7;
  height: 100%;
  border-top: 1px solid #014046;
}


.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 10px 40px 10px;
}

.content .card-promotion img{
  border-radius: 50px;
  width: 600px;
}

.wrapper-content .content video{
  margin-right: 20px;
}

/* .wrapper-content .movie p{
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
} */

.text p{
  font: 200;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  margin-top: 20px;
  color: rgba(0,0,0,0.5);
  text-align: justify;
  padding: 40px 70px 40px 70px;

}

/* Carousel */

.box-movie{
  height:100%;
  width: 100%;
  display: block;
}

.carousel{
  margin: 20px;
}
